/* Day-04-Nov-23 */
.movie-container {
  /* background-color: orange; */
  width: 340px;
  /* height: min-content; */
  /* height adjust to content-height */
}
.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 24px;
  margin: 0;
}
.movie-rating {
  font-size: 20px;
}
/* Responsiveness using grid method */
/* RAM-Technic --> Repeat Autofit Minmax */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;

  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around; */
}

/* Responsiveness using grid method */
/* .movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
} */

/* Day-05-Nov-24 */
.add-movie-form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 1rem auto;
  gap: 1rem;
}

/* Add5 - CSS */
/* body{
  font-family: sans-serif;
  font-size: 40px;
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
} */

.not-found {
  text-align: center;
  font-size: 48px;
  margin: 0;
}

.not-found-container{
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
.movie-detail-container{
  max-width: 750px;
  padding: 16px;
}
.add-movie-form {
  display: flex;
  flex-direction: column;
}